.suggestion {
    display: grid;
    grid-template-columns: 15% 2fr 1fr;
    align-items: center;
    margin-bottom: 0.5em;

    .avatar {
        justify-self: left;
        margin-right: 1em;
    }

    .username {
        justify-self: left;
    }

    .action {
        justify-self: right;
    }
}
